$footer_height: 150px;
$link_color: #0070be;
$text_color: rgb(255, 255, 255);
$light-bg-color: #392549;

// Comments
$comments_bg_color: #1d1e53;
$comments_border-color: #dfdfdf;
$comments_input_border-color: #bbb;
$comments_highlight_color: #ffec82;